<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>item_info</title>
</head>
<body>
    <header>
        / <a href='/'>Home</a> / <a href='/items/'>Items</a> / <a href='/about/'>About</a> /
    </header>


    Наименование: {{ item.name }}<br>
    Бренд: {{ item.brand }}<br>

    {% if item.count == 0 %}
        Товар отсутствует<br>
    {% else %}
        Количество: {{ item.count }}<br>
    {% endif %}

    <a href='/items/'> Назад к списку товаров </a>
</body>
</html>