<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>item_list</title>
    <style type='text/css'>
        .brd{
            border-style: double;
            padding: 10px; /* Поля вокруг текста */
            border-width: 3px;
            display: inline;
        }

    </style>



</head>
<body>
    
    <header>
        / <a href='/'>Home</a> / <a href='/items/'>Items</a> / <a href='/about/'>About</a> / <br><br>
    </header>

    
        {% for item in items %}
        <div class='brd'>
            <a href='/item/{{item.id}}/'>{{ item.name }}</a>
            {{ item.description }}        
        </div>
            
        {% endfor %}
    

</body>
</html>